<div class="home-view">
	<h1>Poems</h1>
	<div ng-show="$root.currentUser">
		<button class="new-poem-btn" ng-click="createNewPoem()" >Write a new Poem</button>
	</div>
	<div ng-hide="$root.currentUser">
		<div>Login to write a new poem.</div>
	</div>
	<div class="poems-list">
		<div class="poem" ng-repeat="poem in poems | orderBy:createdAt:true">
			<a class="poem-name" ui-sref="poem({poemId: poem._id})">
				<span>"{{poem.name}}"</span>
				<span ng-hide="poem.name">(Untitled)</span>
			</a>
			<div class="poem-author">by {{poem.author}}</div>
			<div class="poem-author">on {{poem.createdAt | date}}</div>
		</div>
	</div>
</div>
